---
---

@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#primary-nav {
  margin: 0;
}

footer {
  border-top: 1px solid #eee;
  height: 60px;
}

footer p {
  margin: 20px 0;
  text-align: center;
}

h1 a:hover, h2 a:hover, h3 a:hover, a.thumbnail:hover {
  text-decoration: none;
}

#article-body p {
  line-height: 1.9;
  font-size: 18px;
  text-align: justify;
  color: #777;
}

#article-body > p {
  margin-bottom: 24px;
}

code {
  background-color: #f5f5f5;
  color: #333333;
}

code, pre {
  font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
}

.jumbotron {
  background: url(/img/messy-desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: white;
  text-shadow: 2px 2px 8px #428bca;
  margin-bottom: 0;
  padding: 30px;
}

.jumbotron a {
  color: white;
}
