html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

footer {
  height: 60px;
  background-color: #f5f5f5;
}

footer p {
  margin: 20px 0;
  text-align: center;
}
