{% if include.post.updated %}
  First published on <time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post.date | date_to_string }}</time>.
  Last revised on <time datetime="{{ include.post.updated | date_to_xmlschema }}" itemprop="dateModified">{{ include.post.updated | date_to_string }}</time>.
{% else %}
  Published on <time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="dateModified datePublished">{{ include.post.date | date_to_string }}</time>.
{% endif %}
