<div class="row-fluid">
  <footer class="span8 offset2 footer">
    <hr>
    <p class="text-center muted">
      <a href="/archive/">All posts</a> |
      <a href="https://twitter.com/mathie">@mathie</a> |
      <a href="https://github.com/mathie">GitHub</a> |
      <a href="https://plus.google.com/u/0/100653048199781266668" rel="publisher">Google+</a> |
      <a href="http://www.rubaidh.com/">Hire me</a>
    </p>
  </footer>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-61531-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
