<div class="row">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

    {% include pagination.html post=include.post %}

    <header>
      <hgroup class="page-header">
        <h1>
          <a href="{{ include.post.url }}" itemprop="name headline">{{ include.post.title }}</a>
          {% if include.post.subtitle %}
            <br>
            <small>{{ include.post.subtitle }}</small>
          {% endif %}
        </h1>

        <p class="text-muted">
          {% include datestamp.html post=include.post %}
          By
          <span itemprop="author creator copyrightHolder" itemscope itemtype="http://schema.org/Person">
            <a href="https://plus.google.com/u/0/100653048199781266668" rel="publisher" itemprop="url"><span itemprop="name"><span itemprop="givenName">Graeme</span> <span itemprop="familyName">Mathieson</span></span></a>.
          </span>
        </p>
        <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='7804748'></div>
      </hgroup>
    </header>

    <section id="article-body" itemprop="text description articleBody">
      {{ include.content }}
    </section>

    {% include pagination.html post=include.post %}
  </article>
</div>
