{% include pagination.html post=include.post %}

<div class="alert alert-info alert-dismissable col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <strong>New:</strong> I'm embarking on a new project:
  <a href="#cta">A Sneak Peek at The Internet</a>. Sign up to be kept in the
  loop!
</div>

<div class="row">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

    <header>
      <hgroup class="page-header">
        <h1>
          <a href="{{ include.post.url }}" itemprop="name headline">{{ include.post.title }}</a>
          {% if include.post.subtitle %}
            <br>
            <small>{{ include.post.subtitle }}</small>
          {% endif %}
        </h1>

        <p class="text-muted">
          {% include datestamp.html post=include.post %}
          By
          <span itemprop="author creator copyrightHolder" itemscope itemtype="http://schema.org/Person">
            <a href="https://plus.google.com/u/0/100653048199781266668" rel="publisher" itemprop="url"><span itemprop="name"><span itemprop="givenName">Graeme</span> <span itemprop="familyName">Mathieson</span></span></a>.
          </span>
        </p>
      </hgroup>
    </header>

    <div data-swiftype-name="body" data-swiftype-type="text" id="article-body" itemprop="text description articleBody">
      {{ include.content }}
    </div>
  </article>
</div>

{% include pagination.html post=include.post %}

<div class="jumbotron col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" id="cta">
  <h1 class="text-centered">A Sneak Peek at<br> The Internet</h1>

  <p>
    If you enjoyed this article, you might be interested in my new project, A
    Sneak Peek at The Internet. What happens when you enter <a
    href="https://www.facebook.com">www.facebook.com</a> into your web browser
    and hit return? A Sneak Peek at The Internet will take you on a deep dive
    through the network stack, from HTTP, SSL, TCP and IP, all the way down
    through the data link layer, back up to Facebook's data centres, and then on
    the return journey back to the browser.
  </p>

  <p>
    There's more fun, excitement and peril than a Disneyland rollercoaster!
  </p>

  <form action="//woss.us1.list-manage.com/subscribe/post?u=e2954746a3d6f76209fcd2a6a&amp;id=d03a347896" method="post" class="form-horizontal" target="_blank">
    <div class="form-group">
      <label for="mce-EMAIL" class="col-sm-3 control-label">Email Address</label>
      <div class="col-sm-9">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="bob@example.com">
      </div>
    </div>
    <div class="form-group">
      <label for="mce-FNAME" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-9">
        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Bob">
      </div>
    </div>
    <div class="form-group">
      <label for="mce-LNAME" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-9">
        <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Smith">
      </div>
    </div>

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e2954746a3d6f76209fcd2a6a_d03a347896" tabindex="-1" value=""></div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" value="Sign up to hear more" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
      </div>
    </div>
  </form>
</div>
