<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body itemscope itemtype="http://schema.org/Blog">
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/mathie/woss.name">Fork me on GitHub</a>
      </div>
    </div>

    <div class="container-fluid">
      {% include header.html %}

      <div class="row-fluid">
        <div class="span8 offset2">

          {{ content }}

        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
