---
layout: default
---
<div class="row">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <header>
      <hgroup class="page-header">
        <h1>
          <a href="{{ page.url }}" itemprop="name headline">{{ page.title }}</a>
          {% if page.subtitle %}
            <small>{{ page.subtitle }}</small>
          {% endif %}
        </h1>
      </hgroup>
    </header>

    <section id="article-body" itemprop="text description articleBody">
      {{ page.content }}
    </section>
  </article>
</div>
