---
layout: default
head: |
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({
      publisher: "baf31c90-4e6f-495e-832c-66a4d1e026d6",
      doNotHash: true,
      doNotCopy: true,
      hashAddressBar: false
    });
  </script>
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2>
      <span itemprop="name headline">
        {{ page.title }}
      </span>
      <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified datePublished">{{ page.date | date_to_string }}</time></small>
    </h2>
    <p class="muted" itemprop="author creator copyrightHolder" itemscope itemtype="http://schema.org/Person">
      By <a href="https://plus.google.com/u/0/100653048199781266668?rel=author" itemprop="url"><span itemprop="name"><span itemprop="givenName">Graeme</span> <span itemprop="familyName">Mathieson</span></span></a>.
      {% if page.categories %}
        <br>Filed under:
        {% for category in page.categories limit:1 %}
          <a href="/category/{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
        {% for category in page.categories offset:1 %}
          | <a href="/category/{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
      {% endif %}

      {% if page.tags %}
        <br>Tagged:
        {% for tag in page.tags limit:1 %}
          <a href="/tag/{{ tag | downcase | slugify }}">{{ tag }}</a>
        {% endfor %}
        {% for tag in page.tags offset:1 %}
          | <a href="/tag/{{ tag | downcase | slugify }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <div itemprop="text description articleBody">
    {{ content }}
  </div>

  <hr>

  <section id="share-this">
    <h4>Sharing</h4>
    <p>
      If you enjoyed this article, perhaps you'd like to tell your friends all about it?
    </p>

    <p>
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_googleplus_hcount' displayText='Google +'></span>
      <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
      <span class='st_instapaper_hcount' displayText='Instapaper'></span>
    </p>
  </section>

  <hr>

  <section id="related-posts">
    <h4>Related posts</h4>

    <p>If you enjoyed this post, then Latent Semantic Indexing suggests that you may also enjoy some of the following posts:</p>

    <ul>
      {% for post in site.related_posts limit: 4 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="muted">{{ post.date | date_to_string }}</span></li>
      {% endfor %}
    </ul>
  </section>

  <hr>

  <section id="comments" itemprop="comments" itemscope itemtype="http://schema.org/UserComments">
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </section>
</article>

<script type="text/javascript">
  var disqus_shortname  = 'wossname';
  var disqus_title      = '{{ page.title }}';
  var disqus_url        = window.location.protocol + '//' + window.location.hostname + '{{ page.url }}';
  var disqus_identifier = '{{ page.id }}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
